<!DOCTYPE html>
<html>
  <head>
    <title>Yelpcamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/about.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header mr-auto">
          <a class="navbar-brand bold" href="/">YelpCamp</a>
          <a class="navbar-brand" href="/campgrounds"> Campgrounds </a>
        </div>
      </div>
    </nav>
    <div id="parallax-world-of-ugg">
      <section>
        <div class="title">
          <h1>About</h1>
        </div>
      </section>

      <section>
        <div class="parallax-one">
          <h2>Yelpcamp</h2>
        </div>
      </section>

      <section>
        <div class="block">
          <p>
            <span class="first-character sc">Y</span>elpCamp is a website where
            users can create and review campgrounds. In order to review or
            create a campground, you must have an account. This project was part
            of Colt Steele's web dev course on udemy. This project was Built on
            a MongoDB/Express/Node stack, utilizing RESTful architecture with
            the Bootstrap 4 CSS framework for styling , Passport.js was used to
            handle authentication. The app performs CRUD operations for users,
            the campground and the comments. These pieces are referenced within
            the database through various associations. Actionable commands are
            displayed dynamically on the site (edit/delete) for campground and
            comments, depending on a user’s authorization/ownership. Flash
            messages handle error and success messages to provide the visitor
            with feedback.
          </p>
          <p class="line-break margin-top-10"></p>
        </div>
      </section>

      <section>
        <div class="parallax-two">
          <h2>Features & Functionality</h2>
        </div>
      </section>

      <section>
        <div class="block">
          <ol>
            <li><strong>Authentication:</strong></li>
            <ul>
              <li>User signup with his details , username and password</li>
              <li>User login with username and password</li>
              <li>Admin login with admin username and password</li>
            </ul>
            <li><strong>Authorization:</strong></li>
            <ul>
              <li>
                One cannot create new posts or view user profile without being
                authenticated
              </li>
              <li>
                One cannot edit or delete existing posts and comments created by
                other users
              </li>
              <li>Admin can manage all posts and comments</li>
            </ul>
            <li>
              <strong
                >Flash messages responding to users’ interaction with the
                app</strong
              >
            </li>
            <li><strong>Responsive web design</strong></li>
            <li>
              <strong
                >Manage campground posts with basic functionalities:</strong
              >
            </li>
            <ul>
              <li>Create, edit and delete posts and comments</li>
              <li>Upload campground photos</li>
              <li>Search existing campgrounds</li>
            </ul>
          </ol>
        </div>
      </section>

      <div class="container mt-2 footer-box">
        <div
          class="
            d-flex
            flex-wrap
            justify-content-between
            align-items-center
            border-bottom
          "
        >
          <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted"
              >&copy; <%= new Date().getFullYear() %>
              <span class="glyphicon glyphicon-tent pl-2"></span> YelpCamp</span
            >
          </div>

          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
              <a
                class="btn btn-social-icon tn-github text-muted"
                href="https://github.com/lakshh07"
                ><i class="fa fa-github fa-2x" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <p class="text-center text-muted">
          Designed and Build By
          <a class="pl-1 text-muted footer-text" href="http://lakshaymaini.ml/"
            >Lakshay</a
          >
        </p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
